<a href="https://colab.research.google.com/github/Saikiran4545/Python-daily-practice/blob/main/Daily_Practice_8_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#programme 1
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
#programme 2
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [5]:
#programme 3
import pandas as pd
a = [1,7,2]
myvar = pd.Series (a , index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
#programme 4
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
#programme 5
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
#programme 6
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(data)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [11]:
#programme 6
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45