<a href="https://colab.research.google.com/github/Saikiran4545/Python-daily-practice/blob/main/Daily_Practice_5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program 1
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
#Program 2
thistuple = ("apple","banana","cherry")
print(len(thistuple))

3

In [3]:
#Program 3
thistuple = ("apple","banana","cherry")
print(thistuple[1])
print(thistuple[-1])

banana
cherry

In [4]:
#Program 4
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [5]:
#Program 5
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [6]:
#Program 6
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [8]:
#Program 7
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "apple"  in thistuple:
  print("yes apple is in this tuple")

yes apple is in this tuple

In [9]:
#Program 8
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
x=list(thistuple)
x[1]= "kiwi"
y=tuple(x)
print(y)

('apple', 'kiwi', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [2]:
#Program 9
fruite = ("banana","apple","cherry","strawberry","raspberry")
(green,yellow,*red)=fruite
print(green)
print(yellow)
print(red)

banana
apple
['cherry', 'strawberry', 'raspberry']

In [3]:
#Program 10
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [5]:
#Program 11
thistuple = ("apple", "banana", "cherry")
i=0
while i < len(thistuple):
  print(thistuple[i])
  i = i+1

apple
banana
cherry

In [6]:
#Program 12
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [7]:
#Program 13
tuple1 = ("a", "b" , "c")
tuple2 = tuple1*2
print(tuple2)

('a', 'b', 'c', 'a', 'b', 'c')