<a href="https://colab.research.google.com/github/Saikiran4545/Python-daily-practice/blob/main/Daily_Practice_4_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# programme 1
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [3]:
# programme 2
thisset = {"apple", "banana", "cherry"}
print(thisset)
print("banana" in thisset)

{'cherry', 'apple', 'banana'}
True

In [4]:
# programme 3
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [8]:
# programme 4
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [9]:
# programme 5
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'papaya', 'cherry', 'banana', 'apple', 'mango'}

In [11]:
# programme 6
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'orange', 'cherry', 'banana', 'apple', 'kiwi'}

In [12]:
# programme 6
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [14]:

# programme 7
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [15]:
# programme 8
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [16]:
# programme 9
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [17]:
# programme 10
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [18]:
# programme 11
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [19]:
# programme 12
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana'}