<a href="https://colab.research.google.com/github/Saikiran4545/Python-daily-practice/blob/main/Daily_practice_03_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# python code 1:- 
s="Learning Python is very very easy!!!"
s[1:7:1]

'earnin'

In [2]:
s[::]

'Learning Python is very very easy!!!'

In [3]:
s[::-1]

'!!!ysae yrev yrev si nohtyP gninraeL'

In [4]:
len(s)

36

In [19]:
city=input("Enter your city Name:")
scity=city.strip()
if scity=='Hyderabad':
    print("Hello Hyderbadi..Adab")
elif scity=='Chennai':
    print("Hello Madrasi...Vanakkam")
elif scity=="Bangalore":
    print("Hello Kannadiga...Shubhodaya")
else:
    print("your entered city is invalid")

Enter your city Name:Hyderabad
Hello Hyderbadi..Adab

In [21]:
#programme 3
s="abcabcabcabcadda"
print(s.count('a'))

6

In [25]:
#programme 4
s = "Learning python is very difficult"
s1 = s.replace("difficult","easy")
print(s1)

Learning python is very easy

In [30]:
#programme 5
s = "3-1-2022"
s1 = s.split('-')
for x in s1:
  print(x)

3
1
2022

In [32]:
#programme 6
s= ["python", "is" ,"easy"]
'+'.join(s)

'python+is+easy'

In [34]:
#programme 7
s = "Learning Python is easy"
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS EASY
learning python is easy
lEARNING pYTHON IS EASY
Learning Python Is Easy
Learning python is easy

In [41]:
#programme 8
name = "Saikiran"
age = 32
salary = 325000
print("{}'s salary is {}and his age is {}".format(name,age,salary))
print("{0}'s salary is {2} and his age is {1}".format(name,salary,age) )
print("{x}'s salary is {z} and his age is {y}".format(x=name,z=salary,y=age))

Saikiran's salary is 32and his age is 325000
Saikiran's salary is 32 and his age is 325000
Saikiran's salary is 325000 and his age is 32

In [47]:
#programme 9
s = "Saikiran"
"".join(reversed(s))

'narikiaS'

In [ ]:
#programme 10